.htaccess
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
sitemap.xml.gz
*sitemap*.xml*
*.log
log/*
.vagrant
wp-config.php
*.bak
*~
error_log
debug.txt

# wordpress ignores -- found the hard way

# google docs backups
wp-content/gdbackup/

# special recent posts cache
wp-content/plugins/special-recent-posts/cache/

# Fast Secure Contact Form captcha cache
wp-content/plugins/si-contact-form/captcha/cache/
