/wp-content/*
!/wp-content/index.php
!/wp-content/languages/
!/wp-content/mu-plugins/
!/wp-content/plugins/
!/wp-content/themes/
!/wp-content/root/

._*
.ansible
.bundle
.DS_Store
.DS_Store?
.envrc
.github/
.htaccess
.idea/
.maintenance
.Spotlight-V100
.Trashes
.travis.yml
.user.ini
.vagrant
*.back
*.bak
*.log
*.sql
*.sql.gz
*.swp
*.Trashes
*[Tt]humbs.db
*~
*sitemap*.xml*
/../wp-config.php
/web.config
/wp-config.common.php
~*
access_log
debug.txt
ehthumbs.db
error_log
/log/
Movefile
package.box
playbook.retry
sitemap.xml
sitemap.xml.gz
wordfence-waf.php
wordpress/*
wp-config.php
