/wp-content/*

!/wp-content/index.php
!/wp-content/languages/
!/wp-content/mu-plugins/
!/wp-content/plugins/
!/wp-content/root/
!/wp-content/themes/

/wp-content/plugins/si-contact-form/captcha/cache
/wp-content/plugins/si-contact-form/captcha/cache/**
/wp-content/plugins/special-recent-posts/cache
/wp-content/plugins/special-recent-posts/cache/**

._*
.ansible
.bundle
.DS_Store
.DS_Store?
.envrc
.github/
.htaccess
.idea/
.maintenance
.netrwhist
.Spotlight-V100
.Trashes
.travis.yml
.user.ini
.vagrant
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*.back
*.bak
*.log
*.sql
*.sql.gz
*.swp
*.Trashes
*[Tt]humbs.db
*~
*sitemap*.xml*
/../wp-config.php
/log/
/web.config
/wp-config.common.php
~*
access_log
debug.txt
ehthumbs.db
error_log
Movefile
package.box
playbook.retry
Session.vim
sitemap.xml
sitemap.xml.gz
wordfence-waf.php
wordpress/*
wp-config.php
